body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #000; /* 배경색을 검정색으로 설정 */
  color: #fff; /* 텍스트 색상을 흰색으로 설정 */
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #2c3e50, #000); /* 어두운 그라데이션 배경 */
  z-index: 1;
}

.welcome {
  position: absolute;
  top: 20%;
  width: 100%;
  text-align: center;
  z-index: 2;
}

#welcome h1, #welcome p {
  opacity: 0;
  transition: opacity 0.5s;
}

#subGreeting {
  font-size: 1.5em;
}

.resume {
  display: none;
  position: absolute;
  width: 80%;
  height: 70%;
  top: 15%;
  left: 10%;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 3;
  padding: 20px;
  overflow: auto;
  color: black; /* resume 창 내부의 텍스트 색상을 검정색으로 설정 */
}

h1 {
  text-align: center;
}
